
body{
  
  background-image: url('assets/toDoBg.jpg');
}

/* NAVBAR */

/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.navbar-left {
  text-align: left;
}

.app-title {
  margin-right: 20px;
}

.navbar-right {
  text-align: right;
}

.github-username a {
  color: #fff;
  text-decoration: none;
}

.github-username a:hover {
  text-decoration: underline;
}

.app-container {
  display: flex;
  flex-direction: column;
}


/* MODAL OVERLAY */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h2 {
  margin: 0;
}

.modal-actions {
  margin-top: 20px;
}

.modal-actions button {
  background: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.modal-actions button:hover {
  background: #0056b3;
}




/* TO DO APP MAIN BODY */


.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: #505050;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect for the center-box */
.center-box:hover {
  transform: translate(-50%, -50%) scale(1.02);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

/* Header section with icon and filter button */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.icon {
  font-size: 24px;
  color: #007bff;
}


.filter-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  /* Hover effect */
  &:hover {
    background-color: #0056b3;
  }
}

/* White board */
.white-board {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  min-height: 400px;
  border-radius: 10px;
}

/* Input field and add button */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Input field style */
.input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Add button style */
.add-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

  /* Hover effect */
  &:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}


/* ITEM TABLE */
.wa__list-area {
  border-collapse: collapse;
  width: 100%;
  display: block;
  height: calc(100vh - 358px);
  overflow: auto;
}

.wa__list-area::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.wa__list-area::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 30px;
}

.wa__list-area::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
  visibility: visible;
}

.wa__list-area td,
.wa__list-area th {
  padding: 5px 15px;
}

.wa__list-area tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.wa__list-area tbody tr:hover {
  background-color: #ddd;
}

.wa__table-header {
  color: white;
  position: sticky;
  top: 0;
  z-index: 9;
}

.wa__date {
  font-size: 12px;
  opacity: 0.7;
}

.wa__list-area tfoot {
  text-align: center;
}

p.wa__item.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
span.status {
  padding: 3px 10px;
  color: var(--clr-light);
  font-size: 12px;
  border-radius: 30px;
}

span.status.active {
  background: var(--clr-active);
}

span.status.completed {
  background: var(--clr-complete);
  text-decoration: unset !important;
  opacity: 1;
}

.wa__list-area th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #010326;
  color: var(--clr-light);
}

button.wa__action-btn {
  padding: 6px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-light);
}

.wa__action {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.wa__complete-btn {
  background: var(--clr-primary);
  
  transition: transform 0.2s;
}
.wa__complete-btn:hover {
  transform: scale(1.5); 
}


.wa__complete-btn.wa__task-completed {
  background: var(--clr-complete);
}


.wa__update-btn {
  background: var(--clr-update);
  transition: transform 0.2s;
}

.wa__update-btn:hover {
  transform: scale(1.5); 
}

.wa__delete-btn {
  background: var(--clr-delete);
  transition: transform 0.2s;
}
.wa__delete-btn:hover {
  transform: scale(1.5); 
}

.wa__form-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wa__delete-all {
  background: var(--clr-delete);
  color: var(--clr-light);
  padding: 8px 20px;
  border-radius: 50px;
}
.wa__delete-all:hover{
  background-color: purple;
  color: white;
}

/*  */
@media (max-width: 768px) {
  .wa__list-area {
    height: auto; 
    max-height: 400px; 
  }

  .center-box {
    top: 70%;
  }

  .app-container {
    margin-top: 80px; 
  }
}